.fa_arrow_up {
	position: fixed;
	bottom: 2rem;
	right: 2rem;

	width: 3rem;
	height: 3rem;

	border-radius: 50%;
	background: $green-blue-color;

	text-align: center;
	line-height: 3rem;

	z-index: $z-nav;
	cursor: pointer;

}