.fa_chart {
	text-align: center;
}

#canvasChart {
	width: 400px;
	height: 200px;
}

#canvasPrice {
	width: 6rem;
	height: 20rem;
	border: 1px solid #fff;
}

#canvasTime {
	width: 20rem;
	height: 6rem;
}

.box {
	display: inline-block;
	position: relative;
}

.info_TEST {
	position: absolute;
	background: rgba(255, 255, 255, .1);
	padding: .5rem 1rem;
	border: 1px solid #fff;
	line-height: 1.5rem;
	z-index: 10;
}

.table_chart {
	display: contents;
	border-collapse: collapse;
}

.main_data {
	font-size: 1.2rem;
	color: #fff;
	font-weight: 500;
}