.fa_chart {
	text-align: center;
}

.table_chart {
	border-collapse: collapse;
	border-spacing: 0px;
}

.chart_container {
	display: inline-block;
	position: relative;
}

.info_cur_dot {
	position: absolute;
	font-size: 1.1rem;
	background: rgba(0, 0, 0, .6);
	padding: .5rem 1rem;
	border: 1px solid #fff;
	line-height: 1.5rem;
	z-index: 10;
}

.main_data {
	font-size: 1.2rem;
	color: #fff;
	font-weight: 500;
}