.fa_welcome {
	padding: 1.5rem 0;
}

.welcom_title_main,
.title_welcome,
.title_welcome_main_info {
	font-weight: 500;
}

.welcom_title_main {
	font-size: 4rem;
	text-align: center;
	margin: 3rem 0;

	@include breakpoint($md) {
		font-size: 2.7rem;
		margin: 1rem 0;
	}
}

.fa_welcom_container {
	margin: 2rem 0;
	display: flex;
	position: relative;

	@include breakpoint($sm) {
		flex-direction: column;
		text-align: center;
		margin: 1rem 0;
	}
}

.welcome_item {
	flex: 1 1 0;
}

.welcome_text {
	width: 100%;
	max-width: 50rem;

	@include breakpoint($sm) {
		max-width: 100%;
	}
}

.title_welcome {
	font-size: 2.2rem;
	margin: 2rem 0;

	@include breakpoint($md) {
		font-size: 1.8rem;
		margin: 1rem 0;
	}

	@include breakpoint($md-sm) {
		font-size: 1.6rem;
		margin: .8rem 0;
	}
}

.title_welcome_main_info {
	font-size: 2.5rem;

	mark {
		padding: 0 .2rem;
	}

	@include breakpoint($md) {
		font-size: 2rem;
	}

	@include breakpoint($md-sm) {
		font-size: 1.8rem;
	}
}

.feature_list {
	// list-style-position: inside;
	font-size: 1.6rem;
	margin: 3rem 1.6rem 0;

	@include breakpoint($md) {
		font-size: 1.2rem;
		margin: 1.5rem 1.6rem 0;
	}
}

.feature_item {
	margin: 1rem 0;
	cursor: pointer;
	transition: color .2s linear;

	&:hover {
		color: lighten($gray-color, 20%);
	}

	@include breakpoint($md-sm) {
		margin: .5rem;
	}
}

.welcom_image {
	display: flex;
	align-items: center;
	margin: 0 auto;

	img {
		display: block;
		width: 100%;
		height: auto;
	}

	@include breakpoint($sm) {
		max-width: 70%;
	}
}