.fa_main {
	text-align: center;
	padding: 1rem;
}

.fa_main_sub_title {
	font-size: 1.8rem;
}

.fa_main_title {
	font-size: 2.2rem;
	margin: 1.5rem 0 3rem;
}

.posts_collection {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 3rem 0;



	section {
		width: 50%;
		max-width: 50rem;
	}

	@include breakpoint($md) {
		flex-wrap: wrap;

		section {
			width: 100%;
		}
	}
}

.post_item {
	position: relative;
	font-size: 1.4rem;

	&:hover {
		.post_text {
			height: 100%;
		}
	}
}

.post_text {
	position: absolute;
	top: 0;
	width: 100%;
	height: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $white-color;
	background: $green-gray-gradient;
	padding: 0 .5rem;
	overflow: hidden;
	transition: height .2s linear;
	z-index: 10;
}

.small_posts {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}

.small_item {
	position: relative;
	// flex: 1 1 0;
	width: 50%;

	// &:first-child {
	// 	margin-bottom: 2rem;
	// }

	// &:nth-child(odd) {
	// 	margin-right: 2rem;
	// }
}

.post_image {
	display: block;
	width: 100%;
	height: auto;
}

// test!!!!!!!!

.post_section {
	width: 100%;
	background: $second-color;
	padding: 1.5rem;
	border-radius: .3rem;
	box-shadow: $section-shadow;
	transform: scale(1.0);
	margin: 0 auto 2rem;
}

.post_title {
	font-size: $section-title-fsz;
	font-weight: 400;
	margin: .5rem 0 1.5rem;
	color: darken($white-color, 10%);
}

.post_content {
	display: flex;

	align-items: center;
	justify-content: space-around;

	@include breakpoint($sm) {
		flex-wrap: wrap;
	}
}

.post_image_wrapper {
	min-width: 19.8rem;
	height: 13.8rem;
	box-shadow: $img-shadow;
	position: relative;
	overflow: hidden;

	&:hover .post_image_bg-1 {
		width: 0%;
	}
}

.post_image_bg {
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	transition: all 1s linear;

	&-1 {
		background-image: url("../../images/main-page-img/nft-img3.jpg");
		left: 0;
		width: 100%;
		border-right: 2px solid $green-blue-color;
		background-position: left;

		z-index: 1;
	}

	&-2 {
		background-image: url("../../images/main-page-img/nft-img4.jpg");
		right: 0;
		background-position: right;
		width: 100%;

	}
}

.test_text {
	margin-left: 1rem;
	font-size: 1.4rem;
	line-height: 1.8rem;
	color: $gray-color;

	@include breakpoint($md) {
		font-size: 1.2rem;
		margin: 2rem 0 0 0;
	}
}