.fa_training {
	text-align: center;
}

.fa_training_title {
	font-size: 1.6rem;
	margin: .5rem 0;
}

.canldes_box {
	width: 400px;
	height: 200px;
	margin: 0 auto;
	position: relative;
}

#canvas {}

.cursor_hover {
	cursor: pointer;
}

// info
.info_candles {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 80px;
	background: rgba($root-color, .3);
	color: $table-color;
	font-weight: 300;
	font-size: 1rem;
	text-align: left;
	transition: opacity .2s linear;
}