@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Tomorrow&display=swap');

@import url('./addStyles/navigation.scss');
@import url('./addStyles/top-panel.scss');
@import url('./addStyles/main-page.scss');
@import url('./addStyles/training.scss');
@import url('./addStyles/chart.scss');

@import url('./addStyles/table-currencies.scss');

@import url('./addStyles/loader.scss');
@import url('./addStyles/arrow-up.scss');


:root {
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	color: $white-color;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

.fa_app {
	width: 100%;
	min-height: 100vh;
	background: $root-color;
	padding: .5rem 2rem;
	padding-left: $nav-width + 1rem;
}

.fa_root {
	position: relative;
	overflow: hidden;
}