//color
$root-color: #181822;
$second-color: #292A2F;
$white-color: #FFFFFF;
$gray-color: #80828E;
$table-color: lighten($gray-color, 30%);
$green-blue-color: #02a595;
// color
// sizes
$nav-width: 3.5rem;
$nav-width-hover: 10rem;
$section-title-fsz: 1.8rem;
$top-panel-height: 4rem;
// sizes
// shadow
$section-shadow: 0 0 .3rem .5rem rgba(#000, .2);
$img-shadow: 0 1 .5rem .3rem rgba(#000, .2);
// shadow
// gradient
$green-gray-gradient: radial-gradient(circle farthest-corner at 2rem 5rem, rgba($green-blue-color, .7) 1rem, rgba($root-color, .7) 7rem);
// gradient

// z-index
$z-1: 1;
$z-chart: 5;
$z-nav: 10;
$z-top-panel: 20;
$z-loader: 100;
// z-index

// breakpoint
$lg: 991px;
$md: 800px;
$md-sm: 650px;
$sm: 530px;
$xs: 370px;


// breakpoint

// mixin
@mixin breakpoint($bp) {
	@media (max-width: $bp) {
		@content;
	}
}